h1="Add a Message"
form(
    method="POST"
    action="/new"
)
    input(
        type="text"
        name="author"
        placeholder="author"
    )
    input(
        type="text"
        name="message"
        placeholder="message"
    )
    button="Submit"